.screen1{
    background-color: aqua;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    background-image: url("assets/main-bg.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.screen2{
    background-color: black;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    background-image: url("assets/the-games-bg.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.screen3{
    background-color: black;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    background-image: url("assets/features.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.screen4{
    background-color: black;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    background-image: url("assets/requirements.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.screen5{
    background-color: black;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    background-image: url("assets/top-score-bg.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.screen6{
    background-color: black;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    background-image: url("assets/newsletter.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.navbar {
    opacity: 0.8;;
    font-size: 18px;
    color: #ffff;
  }
.navbar-nav{
    margin-left: 142px;
    display: flex;
    gap: 32px;
}
#navbar2{
    color: blue;
}
.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: white;
    font-weight: 700;
    margin-top: 130px;
}
.subtitle{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 400;
    margin-top: 24px;
}
.button-container {
    display: flex;
    justify-content: center;
    padding: 19px 72px;
    margin-top: 57.28px 0;
  }
  
.btn {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    outline: none;
    border: none;
    padding: 19px 78px;
    color: black;
    font-weight: bold;
    margin-top: 32px;
  }
  .scroll{
    margin-top: 128px;
  }
  .the-story{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .scroll-down{
    display: flex;
    justify-content: center;
  }
  .text-screen2{
    position: relative;
    color: white;
    top: 200px;
    margin-left: 84px;
  }
  .special{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.the-games{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 56px;
}
#carousel{
    border-radius: 0%;
}
.carousel{
    margin-left: 470px;
    margin-top: 140px;
}
.radio-btn{
    position: relative;
    margin-top: -32px;
    margin-left: 300px;
}
.switch-btn{
    position: relative;
    margin-top: -200px;
    margin-left: 440px;
    display:flex;
    gap: 706px;
}
.node {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display:inline-block;
    transition: all 1000ms ease;
}

/* .activated {
    box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
} */

.divider {
    position: absolute;
    top: 0px;
    height: 124px;
    width: 2px;
    margin-left: 4px;
    transition: all 800ms ease;
}
.divider2{
    height: 40px;
    width: 2px;
    margin-left: 4px;
    transition: all 800ms ease;
    opacity: 0;
}

li p {
    display:inline-block;
    margin-left: 25px;
}

li {
    list-style: none;
    line-height: 1px;
}

.green{ background-color: rgba(92, 184, 92, 1); }
.grey { background-color: rgba(201, 201, 201, 1); }
#progress{
    color: yellow;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 50%;
    margin-top: 13%;
}
.text-screen3{
    position: relative;
    color: white;
    top: 150px;
    margin-left: 50%;
    
  }
  .special2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.the-features{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 56px;
}
#subtitle3{
    color: white;
    font-size: 18px;
    margin-left: 38px;
    margin-bottom: 48px;
}
.title4{
    position:relative;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    top: 24px;
}
.title-table{
    margin-top: 64px;
    margin-left: 128px;
    color: white;
    font-size: 56px;
    font-weight: 400;
}
#requirements{
    margin-top: -24px;
}
.table{
    width: 35%;
    color: white;
    margin-left: 128px;
}
.subtitle-table{
    color: #FFB548;
}
.hero4{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    left: 100px;
    top: 30%;
}
.judul4{
    color: white;
    font-size: 56px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
   
}
.subtitle4{
    color: white;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.button-container4 {
    display: flex;
    padding: 19px 72px;
    margin-top: 57.28px 0;
    margin-left: -64px;
  }
  
.btn4 {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    outline: none;
    border: none;
    padding: 19px 78px;
    color: black;
    border-radius: 4px;
    font-weight: bold;
  }
.top-scores{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.twit-box{
    position: relative;
    width: 452px;
    height: 183px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 0px;
    flex-wrap: nowrap;
    margin-left: 900px;
    top: -180px;

}
.atas{
    position: relative;
    display: flex;
    margin-left: 12px;
    top: 12px;
 
}
.twitter-logo{
    position: relative;
    left: 130px;
    top: 15px;
}
img{
    border-radius: 50%;
}
.picture{
    position: relative;
    right: 64px;
}
.yellow-circle{
    position: relative;
    left: 15px;
    top: 5px;
}
.account-name{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFB548;
   
}
.account-info{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 40px;
    top: 8px;
}
.account-profession{
    color: #FFFFFF;
    font-size: 18px;
    opacity: 0.5;
}
.bawah{
    margin-top: 40px;
    margin-left: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.the-tweet{
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}
.tweet-date{
    color: white;
    opacity: 0.5;
}
.twit-box2{
    position: relative;
    width: 472px;
    height: 212px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 0px;
    flex-wrap: nowrap;
    margin-left: -120px;
    top: 40px;

}
.atas2{
    position: relative;
    display: flex;
    margin-left: 12px;
    top: 12px;
 
}
.twitter-logo2{
    position: relative;
    left: 130px;
    top: 15px;
}
img{
    border-radius: 50%;
}
.picture2{
    position: relative;
    right: 64px;
}
.yellow-circle2{
    position: relative;
    left: 15px;
    top: 5px;
}
.account-name2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFB548;
   
}
.account-info2{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 40px;
    top: 8px;
}
.account-profession2{
    color: #FFFFFF;
    font-size: 18px;
    opacity: 0.5;
}
.bawah2{
    margin-top: 40px;
    margin-left: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.the-tweet2{
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}
.tweet-date2{
    color: white;
    opacity: 0.5;
}
.twit-box3{
    position: relative;
    width: 472px;
    height: 212px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 0px;
    flex-wrap: nowrap;
    margin-left: 120px;
    top: 40px;
}

.atas3{
    position: relative;
    display: flex;
    margin-left: 12px;
    top: 12px;
 
}
.twitter-logo3{
    position: relative;
    left: 90px;
    top: 15px;
}
img{
    border-radius: 50%;
}
.picture3{
    position: relative;
    right: 64px;
}
.yellow-circle3{
    position: relative;
    left: 15px;
    top: 5px;
}
.account-name3{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFB548;
   
}
.account-info3{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 40px;
    top: 8px;
}
.account-profession3{
    color: #FFFFFF;
    font-size: 18px;
    opacity: 0.5;
}
.bawah3{
    margin-top: 40px;
    margin-left: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.the-tweet3{
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}
.tweet-date3{
    color: white;
    opacity: 0.5;
}
.kiri-kanan{
    display: flex;
    flex-wrap: wrap;
}
.kiri6{
    width: 50vw;
    height: 85vh;
}
.skull{
    display: flex;
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);  
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#skull{
    border-radius: 0%;
}
.kanan6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 45vw;
    height: 85vh;
    gap: 0px;
}
.touch{
    width: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.subscribe{
    width: 400px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: 400;
}
.body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.bar{
    display: flex;
}
.form {
	margin-top: 24px;
    margin-bottom: 25px;
}

.form__email {
	padding: 20px 25px;
	border-radius: 5px;
 	border: 1px solid #CAD3DB;
    opacity: 0.5;
	width: 360px;
	font-size: 18px;
	color: black;
}

.form__button {
	background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);;
	padding: 10px;
	border: none;
	width: 244px;
	height: 65px;
    font-weight: 700;
	border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 18px;
	color: black;
}
.navbar-bawah{
    display: flex;
    gap: 65px;
    margin-left: 400px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
}
.line{
    color: white;
}
.footer{
    display: flex;
    gap: 600px;
    margin-top: 24px;
    margin-left: 190px;
    color: white;
}
.copyright{
    opacity: 0.3;
}
